apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: scene-engine
spec:
  template:
    spec:
      containers:
        - image: gcr.io/PROJECT_ID/scene-engine:latest
          env:
            - name: PORT
              value: "8080"
          ports:
            - containerPort: 8080
          resources:
            limits:
              cpu: 1
              memory: 512Mi
